.main {
  background: linear-gradient(45deg, black, #222222, rgba(93, 93, 93, 1));
  box-shadow: inset 0px 0px 15px 20px #000000;

  color: white;
}

.item {
  background: rgba(74, 74, 74, 1);
  backdrop-filter: blur(65px);
  border-radius: 20px;
  min-height: 35vh;
  box-shadow: 0px 3px 1px #656565 inset;
  text-align: center;
  text-overflow: none;
  padding: 1.5em 2em;
}
.yyhs {
  line-height: 80%;
}
